[Match]
Name=en* eth* wl*

[Network]
DHCP=yes
IPv6AcceptRA=yes
MulticastDNS=yes
LLMNR=no

[DHCPv4]
UseDomains=yes
UseDNS=no

[IPv6AcceptRA]
UseDomains=yes
UseDNS=no
