[Match]
Name=en* eth*

[Network]
DHCP=yes
IPv6AcceptRA=yes
MulticastDNS=yes
LLMNR=no

DNSDefaultRoute=no

DNSOverTLS=no
DNSSEC=no

[DHCPv4]
UseDomains=yes
UseDNS=yes
RouteMetric=100

[DHCPv6]
UseDomains=yes
UseDNS=yes

[IPv6AcceptRA]
UseDomains=yes
UseDNS=yes
RouteMetric=100
